<%- include('./partials/head.ejs') %> <%- include('./components/header.ejs') %>
<div class="mx-auto max-w-6xl px-5 py-2 space-y-6">
  <form method="get" action="/" class="w-full flex">
    <input
      type="text"
      value="<%= search %>"
      name="search"
      placeholder="Busque em seus produtos..."
      class="w-full bg-transparent text-3xl font-semibold tracking-tighter outline-none placeholder:text-slate-500"
    />
    <button type="submit"><%- include('./assets/searchIcon.ejs') %></button>
  </form>

  <div class="h-px bg-slate-700"></div>

  <div class="flex justify-between">
    <a
      class="w-1/4 rounded-md flex flex-col bg-slate-700 p-2 gap-3 text-sm font-medium text-slate-200 text-center outline-none hover:ring-2 hover:ring-slate-600"
      href="/produtos/novo"
    >
      Adicionar Produto
    </a>
  </div>

  <%- include('./components/messages.ejs') %>

  <div class="rounded-md border border-slate-700 my-6">
    <div class="p-4">
      <span>
        Mostrar
        <select
          id="row-select"
          class="px-4 bg-slate-700 rounded-md border-none outline-none"
        >
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
        </select> 
        por linha
      </span>
    </div>

    <%- include('./components/table/index.ejs') %>

    <div class="flex justify-between px-3 py-4">
      <div>
        <span>Exibindo <%= rows %> items de <%= count %></span>
      </div>
      
      <div class="flex gap-2 items-center">
        <div class="flex gap-2">
          <% if (currentPage === 1) { %>
            <button
              class="button bg-slate-700/30 text-slate-50/50 cursor-none pointer-events-none"
            >
              <%- include('./assets/doubleChevronLeft.ejs') %>
            </button>
            <button
              class="button bg-slate-700/30 text-slate-50/50 cursor-none pointer-events-none"
            >
              <%- include('./assets/chevronLeft.ejs') %>
            </button>
          <% } else { %>
            <button
              id="firstPageButton"
              class="button bg-slate-700 text-slate-200 hover:ring-2 hover:ring-slate-600"
              data-to-page="<%= 1 %>"
            >
              <%- include('./assets/doubleChevronLeft.ejs') %>
            </button>
            <button
              id="previousPageButton"
              class="button bg-slate-700 text-slate-200 hover:ring-2 hover:ring-slate-600"
              data-to-page="<%= currentPage - 1 %>"
            >
              <%- include('./assets/chevronLeft.ejs') %>
            </button>
          <% } %>
        </div>

        <span>Page <%= currentPage %> of <%= totalPages %></span>

        <div class="flex gap-2">
          <% if (currentPage === totalPages) { %>
            <button
              class="button bg-slate-700/30 text-slate-50/50 cursor-none pointer-events-none"
            >
              <%- include('./assets/chevronRight.ejs') %>
            </button>
            <button
              class="button bg-slate-700/30 text-slate-50/50 cursor-none pointer-events-none"
            >
              <%- include('./assets/doubleChevronRight.ejs') %>
            </button>
          <% } else { %>
            <button
              id="nextPageButton"
              class="button bg-slate-700 text-slate-200 hover:ring-2 hover:ring-slate-600"
              data-to-page="<%= currentPage + 1 %>"
            >
              <%- include('./assets/chevronRight.ejs') %>
            </button>
            <button
              id="lastPageButton"
              class="button bg-slate-700 text-slate-200 hover:ring-2 hover:ring-slate-600"
              data-to-page="<%= totalPages %>"
            >
              <%- include('./assets/doubleChevronRight.ejs') %>
            </button>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/footer.ejs') %>
