<%- include('./partials/head.ejs') %> <%- include('./components/header.ejs') %>
<div class="mx-auto max-w-6xl my-12 space-y-6 px-5">
  <form method="get" action="/" class="w-full flex">
    <input
      type="text"
      value="<%= search %>"
      name="search"
      placeholder="Busque em seus produtos..."
      class="w-full bg-transparent text-3xl font-semibold tracking-tighter outline-none placeholder:text-slate-500"
    />
    <button type="submit">
      <svg
        class="size-8"
        width="15"
        height="15"
        viewBox="0 0 15 15"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10 6.5C10 8.433 8.433 10 6.5 10C4.567 10 3 8.433 3 6.5C3 4.567 4.567 3 6.5 3C8.433 3 10 4.567 10 6.5ZM9.30884 10.0159C8.53901 10.6318 7.56251 11 6.5 11C4.01472 11 2 8.98528 2 6.5C2 4.01472 4.01472 2 6.5 2C8.98528 2 11 4.01472 11 6.5C11 7.56251 10.6318 8.53901 10.0159 9.30884L12.8536 12.1464C13.0488 12.3417 13.0488 12.6583 12.8536 12.8536C12.6583 13.0488 12.3417 13.0488 12.1464 12.8536L9.30884 10.0159Z"
          fill="currentColor"
          fill-rule="evenodd"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
  </form>

  <div class="h-px bg-slate-700"></div>

  <%- include('./components/messages.ejs') %>

  <div class="rounded-md border border-slate-700 my-6">
    <table class="w-full border-collapse shadow-sm">
      <thead>
        <tr>
          <th class="px-3 py-4 text-left border-b border-b-slate-700">ID</th>
          <th class="px-3 py-4 text-left border-b border-b-slate-700">Nome</th>
          <th class="px-3 py-4 text-left border-b border-b-slate-700">
            Descrição
          </th>
          <th class="px-3 py-4 text-left border-b border-b-slate-700">Preço</th>
          <th class="px-3 py-4 text-left border-b border-b-slate-700">
            Quantidade
          </th>
          <th class="px-3 py-4 text-left border-b border-b-slate-700">
            Criado
          </th>
          <th class="px-3 py-4 text-left border-b border-b-slate-700">
            Atualizado
          </th>
          <th class="px-3 py-4 text-left border-b border-b-slate-700"></th>
          <th class="px-3 py-4 text-left border-b border-b-slate-700"></th>
        </tr>
      </thead>
      <tbody>
        <% if (products.length === 0) { %>
        <tr class="text-center">
          <td class="w-full">Nenhum produto encontrado</td>
        </tr>
        <% } else { %> <% products.forEach(item => { %>
        <tr class="text-left border-b border-b-slate-700 hover:bg-slate-700/30">
          <td class="px-3 py-4"><%= item.id %></td>
          <td class="px-3 py-4"><%= item.name %></td>
          <td class="px-3 py-4"><%= item.description %></td>
          <td class="px-3 py-4"><%= item.price.toLocaleString('pt-br', {
            style: "currency",
            currency: "BRL"
          }) %></td>
          <td class="px-3 py-4"><%= item.amount %></td>
          <td class="px-3 py-4">
            <%= item.createdAt.split('T')[0] %>
          </td>
          <td class="px-3 py-4">
            <%= item.updatedAt.split('T')[0] %>
          </td>
          <td>
            <a href="/produto/editar/<%= item.id %>" class="button bg-slate-600 mx-2 hover:bg-slate-700">
              Editar
            </a>
          </td>
          <td>
            <a href="/produto/excluir/<%= item.id %>" class="button bg-red-600 mx-2">
              Excluir
            </a>
          </td>
        </tr>
        <% }) %> <% } %>
      </tbody>
    </table>

    <div class="flex justify-between px-3 py-4">
      <div class="flex gap-2 items-center">
        <% if (currentPage === 1) { %>
        <a
          class="button bg-slate-700/30 text-slate-50/50 cursor-none pointer-events-none"
          >Previous</a
        >
        <% } else { %>
        <a
          class="button bg-slate-700 text-slate-200 hover:ring-2 hover:ring-slate-600"
          href="?page=<%= currentPage - 1 %>&search=<%= search %>"
          >Previous</a
        >
        <% } %>
        <span>Page <%= currentPage %> of <%= totalPages %></span>
        <% if (currentPage === totalPages) { %>
        <a
          class="button bg-slate-700/30 text-slate-50/50 cursor-none pointer-events-none"
          >Next</a
        >
        <% } else { %>
        <a
          class="button bg-slate-700 text-slate-200 hover:ring-2 hover:ring-slate-600"
          href="?page=<%= currentPage + 1 %>&search=<%= search %>"
          >Next</a
        >
        <% } %>
      </div>

      <a
        class="rounded-md flex flex-col bg-slate-700 py-1 px-4 gap-3 text-sm font-medium text-slate-200 text-center outline-none hover:ring-2 hover:ring-slate-600"
        href="/produto/index"
      >
        Adicionar Produto
      </a>
    </div>
  </div>
</div>
<%- include('./partials/footer.ejs') %>
